<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help - COMP 3962</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <h1>Help Page</h1>
        <p>Initials: <strong>DK</strong></p>
        <p>Last 4 digits of A#: <strong>5550</strong></p>
        <a href="/main"><button>Back</button></a>
    </div>
</body>

</html>